<!-- +++++ Welcome Section +++++ -->
<div id="ww">
    <div class="container" >
        <a name="personal_details"></a>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2><%= raw current_theme.the_field("pd_name") %></h2>
                <h4><%= raw current_theme.the_field("pd_job_title") %></h4>
                <br/><br/>
                <div class="col-lg-12"</div>
                <%= raw current_theme.the_field("pd_description") %>
                </div>
              <div class="col-lg-6 top-buffer">
                <table class="table">
                  <tbody>
                    <tr>
                      <th style="width: 50%;">Name</th>
                      <td><%= raw current_theme.the_field("pd_name_on_table") %></td>
                    </tr>
                    <tr>
                      <th style="width: 50%;">Date of birth</th>
                      <td><%= raw current_theme.the_field("pd_dob") %></td>
                    </tr>
                  </tbody>
                </table> 
              </div>
              <div class="col-lg-6 top-buffer">
                <table class="table">
                  <tbody>
                    <tr>
                      <th style="width: 50%;">Email</th>
                      <td><%= raw current_theme.the_field("pd_email") %></td>
                    </tr>
                    <tr>
                      <th style="width: 50%;">Phone</th>
                      <td><%= raw current_theme.the_field("pd_phone") %></td>
                    </tr>
                  </tbody>
                </table> 
              </div>
            </div>
        </div>
        <hr/>
      
        <a name="professional_skills"></a>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Professional Skills</h2>
                <br/><br/>
                <div class="col-lg-12"</div>
                <ul class="list-group">
                  <% p_skills = current_site.the_posts("professional_skills").all.decorate.each do |p_skill| %>
                    <li class="list-group-item"><%= p_skill.the_title %> <%== p_skill.the_content if p_skill.the_content.length>1 %></li>
                  <% end %>
                </div>
            </div>
        </div>

        <hr/>

        <a name="work_experience"></a>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Work experience</h2>
                <br/><br/>
                <ul class="timeline">
                <% p_exps = current_site.the_posts("work_experience").all.decorate.each do |p_exp| %>
                    <li class="timeline-item">
                      <div class="timeline-badge"><i class="glyphicon glyphicon-briefcase"></i></div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <h4 class="timeline-title"><%= p_exp.the_title %></h4>
                          <p><small class="text-muted"><i class="glyphicon glyphicon-calendar"></i><%= p_exp.get_field('exp_period') %> </small></p>
                        </div>
                        <div class="timeline-body">
                          <p><%== p_exp.the_content %></p>
                        </div>
                      </div>
                    </li>
                <% end %>
                </ul>
            </div>
        </div>

        <hr/>

        
        <a name="education"></a>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Education</h2>
                <br/><br/>
                <ul class="timeline">
                <% p_edus = current_site.the_posts("education").all.decorate.each do |p_edu| %>
                    <li class="timeline-item">
                      <div class="timeline-badge"><i class="glyphicon glyphicon-briefcase"></i></div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <h4 class="timeline-title"><%= p_edu.the_title %></h4>
                          <p><small class="text-muted"><i class="glyphicon glyphicon-calendar"></i><%= p_edu.get_field('edu_period') %> </small></p>
                        </div>
                        <div class="timeline-body">
                          <p><%== p_edu.the_content %></p>
                        </div>
                      </div>
                    </li>
                <% end %>
                </ul>
            </div>
        </div>

        <hr/>


        <a name="languages"></a>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Languages</h2>
                <br/><br/>
                <div class="col-lg-12"</div>
                <ul class="list-group">
                  <% p_langs = current_site.the_posts("languages").all.decorate.each do |p_lang| %>
                    <li class="list-group-item"><%= p_lang.the_title %> <%== p_lang.the_content if p_lang.the_content.length>1 %></li>
                  <% end %>
                </div>
            </div>
        </div>

    </div> <!-- /container -->
</div><!-- /ww -->

<!-- +++++ Projects Section +++++ -->
